<%= form_for([@decks, @cards]) do |f| %>
  <% if @cards.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cards.errors.count, "error") %> prohibited this deck from being saved:</h2>
      <ul>
      <% @cards.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div  id="hello" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5 hello">
    <div class="field">
      <%= f.label "Front" %>: <%= f.text_area :frontContent %>
    </div>
    <div class="field">
      <%= f.label "Front Image" %>: <%= f.file_field :image_front %>
      <%= f.label "Preview" %>:<br /><%= image_tag @cards.image_front.url(:thumb) %>
    </div>
    <div class="field">
      <%= f.label "Back" %>: <%= f.text_area :backContent %>
    </div>
    <div class="field">
      <%= f.label "Back Image" %>: <%= f.file_field :image_back %>
      <%= f.label "Preview" %>:<br /><%= image_tag @cards.image_back.url(:thumb) %>
    </div>
    <div class="field">
      <%= f.label "Description" %>: <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label "Disabled" %>: <%= f.check_box :disabled %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
