<%= form_for([@decks, @cards]) do |f| %>
  <% if @cards.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cards.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @cards.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :frontContent %><br>
    <%= f.text_field :frontContent %>
  </div>
  <div class="field">
    <%= f.label :backContent %><br>
    <%= f.text_area :backContent %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
