<%= form_for([@decks, @cards]) do |f| %>
  <% if @cards.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cards.errors.count, "error") %> prohibited this deck from being saved:</h2>
      <ul>
      <% @cards.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
    <div  id="hello" class="col-xs-12 col-sm-4 col-md-2 col-lg-2 col-sm-offset-4 col-md-offset-5 col-lg-offset-5 hello">
      <div class="row">
        <h4>
          <%= f.label "Description" %><br> 
          <%= f.text_field :description %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Front" %><br>
          <%= f.text_area :frontContent %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Front Image" %><br>
          <%= f.file_field :image_front %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Preview" %><br>
          <%= image_tag @cards.image_front.url(:thumb) %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Back" %><br>
          <%= f.text_area :backContent %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Back Image" %><br>
          <%= f.file_field :image_back %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Preview" %><br>
          <%= image_tag @cards.image_back.url(:thumb) %>
        </h4>
      </div>
      <div class="row">
        <h4>
          <%= f.label "Disabled" %><br> 
          <%= f.check_box :disabled %>
        </h4>
      </div>
      <div class="row">
        <h4><%= f.submit %></h4>
      </div>
    </div>
  </div>
<% end %>
