<h2>Cards in <%= @decks.title %></h2>

  <div class="container-fluid">
    <% @cards.each do |card| %>
      <div class="cardContainer col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card cardFront col-xs-6 ">
          <h4><%= card.frontContent %></h4>
        </div>
        <div class="card cardBack col-xs-6 ">
          <h4><%= card.backContent %></h4>
        </div>
        <div class="col-xs-12">
          <h5><%= link_to card.description, deck_card_path(@decks, card) %></h5>
          <h5>
            <%= link_to 'Edit', edit_deck_card_path(@decks, card) %> |
            <%= link_to 'Delete', deck_card_path(@decks, card), method: :delete, data: { confirm: 'Are you sure you would like to delete this card?' } %>
          </h5>
          <h5>Last Edited: <%= time_ago_in_words(card.updated_at) %> ago</h5>
          <h5>Created: <%= time_ago_in_words(card.created_at) %> ago</h5>
        </div>
      </div>
    <% end %>
  </div>
<h3>
  <%= link_to "Back To Decks Page", decks_path(@decks) %>
  |
  <%= link_to "New card in deck", new_deck_card_path(@decks) %>
</h3>