<h2>Cards in <%= @decks.title %></h2>

<%= link_to "New card in deck", new_deck_card_path(@decks) %>

<table class ="deck_container">
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.frontContent %></td>
        <td><%= card.backContent %></td>
        <td><%= card.description %></td>
        <td><%= link_to 'Show', deck_card_path(@decks, card) %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(@decks, card) %></td>
        <td><%= link_to 'Destroy', deck_card_path(@decks, card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>