<div id = flashCard>
  <div id = flashCardFront>
    <h1><%= @cards.frontContent %></h1>
    <p id="flipCardToBack">Back</p>
  </div> <!--end div flashCardFront -->
  <div id = flashCardBack>
    <h1><%= @cards.backContent %></h1>
    <p id="flipCardToFront">Front</p>
  </div><!--end div flashCardBack-->
</div> <!--end div flashCard -->
<p><%= @cards.description %></p>
<%= link_to "Back", deck_cards_path(@decks) %>
<% content_for :javascript do %>      
    <%= javascript_include_tag 'cardFlip.js' %>
<% end %>