<p id="notice"><%= notice %></p>
<h2><%= @deck.title %></h2>
 <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="flashCard">
          <div class="flashCardFront">
            <h1><%= @deck.title %></h1>
          </div>
        </div>
      </div>
      <% @deck.cards.each do |card| %>
        <div class="item">
          <div class = "flashCard">
            <div class = "flashCardFront">
              <h1><%= card.frontContent %></h1>
              <p class="flipCardToBack">Click to show Back</p>
            </div> <!--end div flashCardFront -->
            <div class = "flashCardBack">
              <h1><%= card.backContent %></h1>
              <p class="flipCardToFront">Click to show Front</p>
            </div><!--end div flashCardBack-->
          </div> <!--end div flashCard -->
          <h1>
            <%= card.description %>
          </h1>
        </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<h1>
<%= link_to 'Edit Deck', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %> |
<%= link_to 'Manage Cards', deck_cards_path(@deck) %>
</h1>
<% content_for :javascript do %>      
    <%= javascript_include_tag 'cardFlip.js' %>
<% end %>
<% content_for :javascript do %>      
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
<% end %>




